body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: white;
  padding: 40px;
  border-radius: 0.5em;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2 );
  width: 300px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #dfe6ef;
  border-radius: 0.5em;
  font-size: 14px;
}

.login-form button {
  padding: 12px;
  background: #0984e3;
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: 16px;
  
}

.login-form button:hover {
  background: #74b9ff;
}